# dependencies
node_modules/

# next.js
.next/
out/
*.tsbuildinfo

# testing
coverage/
src/test-results/
.lighthouseci/

# environment & secrets
.env
.env.*
!.env.example

# logs
*.log

# editors / OS
.idea/
.DS_Store
Thumbs.db
*.tmp
*.swp
